<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodieapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Cart"></activity>
        <activity android:name=".Menu" />
        <activity android:name=".AManage" />
        <activity android:name=".Manage" />
        <activity android:name=".SignUp" />
        <activity android:name=".CProfile" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
 
        <activity android:name=".menu.submarine.SubmarineItems"/>
        <activity android:name=".menu.submarine.UpdateSubmarine"/>
        <activity android:name=".menu.submarine.AddSubmarine" />
        <activity android:name=".menu.MenuDashboard" >

        </activity>
        <activity android:name=".menu.pizza.AddPizza" />
        <activity android:name=".MUploads" />
        <activity android:name=".MItem" />
        <activity android:name=".MDetail" />
        <activity android:name=".menu.pizza.UpdatePizza" />
        <activity android:name=".menu.burger.AddBurger" />
        <activity android:name=".MManage" />
        <activity android:name=".menu.pizza.Items" />
        <activity android:name=".Diatery" />
        <activity android:name=".Favorites" />
        <activity android:name=".LatestDeals" />
        <activity android:name=".OurMenu" />
        <activity android:name=".SpecialOffers" />
        <activity android:name=".TopCategories" />
        <activity android:name=".TopEats" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>